name: "Deploy"

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build-posting:
    name: "Posting"
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./src/posting

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Setup Cargo Lambda
        uses: cargo-lambda/cargo-lambda-action@v1

      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: src/posting

      - name: Format
        run: cargo fmt --all -- --check

      - name: Lint
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Build
        run: cargo lambda build --release --arm64

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: posting-lambda
          path: ./src/posting/target/lambda/posting-lambda/
          retention-days: 1

  plan:
    name: "Terraform Plan"
    runs-on: ubuntu-latest
    needs: [build-posting]

    defaults:
      run:
        working-directory: ./terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Posting Function Artifact
        uses: actions/download-artifact@v4
        with:
          name: posting-lambda
          path: ./posting-lambda

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "~1.13"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          mask-aws-account-id: true
          aws-region: us-east-1

      - name: Terraform Format
        id: fmt
        run: terraform fmt -check

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color -input=false

  apply:
    name: "Terraform Apply"
    runs-on: ubuntu-latest
    environment: production
    needs: [plan]

    defaults:
      run:
        working-directory: ./terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Posting Function Artifact
        uses: actions/download-artifact@v4
        with:
          name: posting-lambda
          path: ./posting-lambda

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "~1.13"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          mask-aws-account-id: true
          aws-region: us-east-1

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Apply
        id: apply
        run: terraform apply -auto-approve -input=false
